[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "colors/lanox-vim-theme"]
	path = colors/lanox-vim-theme
	url = https://github.com/lanox/lanox-vim-theme.git
[submodule "bundle/vim-bracketed-paste"]
	path = bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
